{if isset($list) and !empty($list)}
<ul class="collapsible popout admin-container" data-collapsible="accordion" style="margin-top: 20px;">
	<li class="collapsible-header">
		<div class="row" style="padding:0px;margin:0px;">
			<div class="col s8 m8 l8 strong">
				<a href="#" class="orderByName">{$lang['Question']}</a>
			</div>
			<div class="col s2 m2 l2 strong center">
				<a href="#" class="hide-on-small-only orderByPosition">{$lang['Language']}</a>
				<a href="#" class="hide-on-med-and-up orderByPosition"><i class="material-icons">language</i></a>
			</div>
			<div class="col s2 m2 l2 strong center">
				<a href="#" class="hide-on-small-only orderByStatus">{$lang['Status']}</a>
				<a href="#" class="hide-on-med-and-up orderByStatus"><i class="material-icons">visibility</i></a>
			</div>
		</div>
	</li>
	{foreach from = $list item = l}
	{assign var="image" value="Views/img/languages/{$l.language_img}.png"}
	<li>
		<div class="collapsible-header">
			<div class="row" style="margin: 0;">
				<div class="col s8 m6 l8">{$l.question}</div>
				<div class="col s2 m2 l2">
					{if file_exists($image)}
          <div class="center-icon" style="text-align: center;">
            <img src="{URL}Views/img/languages/{$l.language_img}.png" alt="">
          </div>
					{else}
					<i class="material-icons center-icon red-text">block</i>
					{/if}
				</div>
				<div class="col s2 m2 l2">
					{if $l.status}
					<i class="material-icons center-icon green-text">check</i>
					{else}
					<i class="material-icons center-icon red-text">block</i>
					{/if}
				</div>
			</div>
		</div>
		<div class="collapsible-body">
			<div class="row" style="padding: 20px; margin-bottom: 0;">
				<div class="col s12">
					<strong>{$lang['Answer']}:</strong> {$l.answer}
				</div>
				<div class="col s12 right-align">
					{if 42|array_search:$smarty.session.user.privileges}
					<a href="{URL}faqs/edit/{$l.id}" class="waves-effect waves-teal btn-flat">{$lang['Edit']}</a>
					{/if}
					{if 43|array_search:$smarty.session.user.privileges}
					<a href="{URL}faqs/delete/{$l.id}" class="waves-effect waves-teal btn-flat">{$lang['Delete']}</a>
					{/if}
				</div>
			</div>
		</div>
	</li>
	{/foreach}
</ul>
{else}
<h3 class="center">{$lang['NoItems']}</h3>
{/if}
