/* ESTO ES PURAMENTE TEMPORAL CUANDO NO SE CARGAN LOS ICONOS POR FALTA DE INTERNET */
/* i.material-icons {
	max-width: 35px;
	overflow: hidden;
} */

.title {
	border-bottom: 2px solid #2196f3 !important;
	margin: 25px 20px !important;
}

html {
	background-color: #fafafa;
}

.card-title {
	position: relative;
	font-size: 1.28rem;
	line-height: 1.6em;
	text-align: center;
	width: 100%;
	padding: 10px 15px;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.1);
}
.admin .card-title {
	padding: 10px 0;
}
.admin .card-content {
	padding: 20px 0;
}
.admin .card-content h3 {
	margin: 0;
}
.admin .card-content .compare {
	margin-top: 15px;
}
.admin .card-content .compare span {
	padding: 8px 19px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
}
.admin .card-content .compare i {
	vertical-align: middle;
}

.circle-dot {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
}

/* label focus color */
.input-field .prefix.active,
.input-field input[type='text']:focus + label,
.input-field input[type='number']:focus + label,
.input-field input[type='email']:focus + label {
	color: #03a9f4;
}

/* icon color */
.input-field .prefix {
	color: #9e9e9e;
}

.select-dropdown li img {
	height: auto;
	width: auto;
	margin: 1.3em;
}

@media only screen and (max-width: 500px) {
	.center-on-small {
		text-align: center;
	}
	.brand-logo img {
		margin: -4px 0 0 0 !important;
	}
}

.admin-container {
	margin: 20px;
}

nav .logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0;
	white-space: nowrap;
	margin-left: 20px;
}

header.admin,
nav.admin,
main.admin,
footer.admin {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header.admin,
	main.admin,
	nav.admin,
	footer.admin {
		padding-left: 0;
	}
}

.center-icon {
	float: none !important;
	width: auto !important;
	margin: 0 !important;
}

.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding: 0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #fff;
	width: auto;
}

@media screen and (max-width: 900px) {
	#social-links .float-large {
		float: left;
	}
	.circle2 {
		width: 3em;
		height: 3em;
		-webkit-border-radius: 3em;
		-moz-border-radius: 3em;
		border-radius: 3em;
		margin: auto;
		max-width: 100%;
		background-color: white;
	}
	.circle2 i {
		margin-top: 0.25em;
		font-size: 2rem !important;
	}
	.arrow {
		margin-top: 10px;
		margin-left: -10px;
		font-size: 2rem !important;
	}

	.facebook {
		margin: 10px;
	}
}

/*pantalla mediana y grande*/
@media screen and (min-width: 900px) {
	.circle2 {
		width: 100px;
		height: 100px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		align-content: center;
		margin: auto;
		max-width: 100%;
		background-color: white;
	}
	.circle2 i {
		margin-top: 20px;
	}
	.arrow {
		margin-top: 20px;
		padding: 0;
	}

	.facebook {
		margin: 60px;
	}
}

/*pantalla grande*/
@media screen and (min-width: 1140px) {
	#social-links .float-large {
		float: left;
	}
}

.strong {
	font-weight: 500;
}

.icon-center-text {
	padding-bottom: 3px;
	vertical-align: middle;
}

div#paypal-button {
	margin: 52px 0;
}

/* Pantalla ipad apaisado y un poquito mas */
@media screen and (min-width: 1023px) and (max-width: 1330px) {
	.tracking-button i.material-icons {
		display: none;
	}
}
