<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Jorge Mariel">

	<title>{$title} - NeoUnlock</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{* <link rel="stylesheet" href="{URL}Views/css/materialize.min.css" /> *}


	<link rel="stylesheet" type="text/css" href="{URL}Views/css/global.css">