</main>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

{* <script type="text/javascript" src="{URL}Views/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{URL}Views/js/materialize.min.js"></script> *}


<!-- <script src="{URL}Views/js/jquery-3.1.0.min.js"></script>
<script src="{URL}Views/js/materialize.min.js"></script> -->

<script>
$(document).ready(function(){
	$(".button-collapse").sideNav();
});
</script>